<% layout("/layouts/boilerplate") %>

<h2 class="text-center">Login</h2>
<form class="needs-validation max-w-sm mx-auto" action="/login" method="post" novalidate>
    
    <div class="mb-3">
        <label for="username" class="form-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your username</label>
      <input type="username" required name="username" id="username" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name" required />
    </div>
    <div class="mb-5">
      <label for="password" class="form-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
      <input type="password" required name="password" id="password" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
    </div>
    <div class="signup">
      <span>Do not have any account??</span><a href="/signup">Signup</a>
    </div>
    <button type="submit" class="text-white bg-red-500 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
  </form>
  